{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^src/", "^../(.*)", "^./(.*)"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ]
}
