.source-data-th-custom {
    padding: 5px;
    border: 1px solid darkgray;
    &__text{
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__head{
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        border-bottom: 2px solid darkgray;
        border-top: 2px solid darkgray;
        box-shadow: inset 0px -1px 0 0 darkgray!important;
        height: 30px;
        min-height: 30px;
        max-height: 30px;
        top: 1px;
        z-index: 101;
    }
    
}