.context-menu{
    position: absolute;
    border: 1px solid black;
    &__btn{
        width: 250px;
        border: none;
        background-color: inherit;
        text-wrap: wrap;
        text-align: left;
    }
}
.context-menu ul > li {

    white-space: initial;

  }